# Exclude .mkv and .mk4 files
*.mkv
*.mk4

# Exclude zip files
**.zip

# Python cache
**/.idea
**/venv
**__pycache__

# Exclude PDF files
# *.pdf

*.json

# Jupyter Notebook
.ipynb_checkpoints

# tex aux files
**/tex-aux